:host {
    background-color: white;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    overflow: scroll;
}

.undisputed {
    background-color: lightgreen;
}

.disputed {
    background-color: lightcoral;
}

.tableHeadline {
    font-size: 24px;
}

.headline {
    font-weight: bold;
}

.content {
    margin-bottom: 6px;
}

.checkItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}