<table style="width:100%">
  <tr>
    <th width="50%" class="tableHeadline">Claimant</th>
    <th width="50%" class="tableHeadline">Defendant</th>
  </tr>
  <tr *ngFor="let lawelement of dataService.lawelementArray">
    <td width="50%">
      <mat-card style="margin: 5px;" *ngIf="lawelement.claimant !== null" [class.undisputed]="lawelement.disputed === false"
        [class.disputed]="lawelement.disputed === true">
        <div class="headline">Fact</div>
        <div class="content">{{lawelement.claimant.fact}}</div>
        <div class="headline">Proof</div>
        <div class="content">{{lawelement.claimant.proof}}</div>
        <div class="headline">Legal opinion</div>
        <div class="content">{{lawelement.claimant.legalOpinion}}</div>
      </mat-card>
      <div *ngIf="lawelement.claimant === null && lawelement.disputed == false" class="checkItem">
        <mat-icon style="font-size: 48px;">check</mat-icon>
      </div>
    </td>
    <td width="50%">
      <mat-card *ngIf="lawelement.defendant !== null" [class.undisputed]="lawelement.disputed === false"
        [class.disputed]="lawelement.disputed === true">
        <div class="headline">Fact</div>
        <div class="content">{{lawelement.defendant.fact}}</div>
        <div class="headline">Proof</div>
        <div class="content">{{lawelement.defendant.proof}}</div>
        <div class="headline">Legal opinion</div>
        <div class="content">{{lawelement.defendant.legalOpinion}}</div>
      </mat-card>
      <div *ngIf="lawelement.defendant === null && lawelement.disputed == false" class="checkItem">
        <mat-icon style="font-size: 48px;">check</mat-icon>
      </div>
    </td>
  </tr>
  <tr>
    <td width="50%">
      <div class="buttons">
        <div class="expanded"></div>
        <div><button mat-fab color="black" (click)="openDialog()">Add</button></div>
        <div class="expanded"></div>
      </div>
    </td>
    <td width="50%">

    </td>
  </tr>
</table>
<!--button (click)="dataService.setNext()">Next</button-->