:host {
    background-color: white;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    overflow: scroll;
}

.mainframe {
    display: flex;
    flex-flow: row;
}

.tablecontainer {
    flex-grow: 100000000;
    max-width: 1024px;
}

.objective {
    font-size: 18px;
    font-weight: 100px !important;
}

.printbutton {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.smallheadline {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.timestamp {
    text-align: end;
    color: black;
    width: 100%;
    margin-bottom: 10px;
}

.undisputed {
    background-color: #C8E6C9;
}

.disputed {
    background-color: #FFCDD2;
}

.tableHeadline {
    font-size: 24px;
}

.headline {
    font-weight: bold;
}

.content {
    margin-bottom: 6px;
}

.checkItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.expanded {
    flex-grow: 1000;
}