<table style="width:100%">
  <tr>
    <th width="40%">Plaintiff</th>
    <th width="20%">Judge</th>
    <th width="40%">Defendant</th>
  </tr>
</table>
<table *ngFor="let subpoint of dataService.tbm_array[dataService.selectedIndex].subpoints">
    <tr>
      <td colspan="3">
        {{subpoint.title}}
      </td>
    </tr>
    <tr>
        <td width="40%">
          <mat-card>
            <h5>Facts</h5>
            {{subpoint.plaintiff.facts}}
            <h5>Legal</h5>
            {{subpoint.plaintiff.legal}}
            <h5>Proof</h5>
            {{subpoint.defendant.proof}}
          </mat-card>
        </td>
        <td width="20%">
          <mat-card>
              Judgecomment
          </mat-card>
        </td>
        <td width="40%">
          <mat-card>
            <h5>Facts</h5>
            {{subpoint.defendant.facts}}
            <h5>Legal</h5>
            {{subpoint.defendant.legal}}
            <h5>Proof</h5>
            {{subpoint.defendant.proof}}
          </mat-card>
        </td>
      </tr>
</table>
<!--div class="plaintiff">
  <div style="margin: 3px;" *ngFor="let subpoint of dataService.tbm_array[dataService.selectedIndex].subpoints">
    <mat-card>
        <h5>Facts</h5>
        <div></div>
          {{subpoint.plaintiff.facts}}
          {{subpoint.plaintiff.facts}}
          {{subpoint.plaintiff.facts}}
    </mat-card>
  </div>
</div>
<div class="judge">
  judge
</div>
<div class="defendant">
  defendant
</div-->